---
title: Team
---

<h1>The Realismus Modding team</h1>
<p>The team has been working hard to make the best, most innovating realism mods for Farming Simulator.</p>

<div class="row"><div class="col-xl-8 col-lg-10 col-md-12 mx-auto team-list">

    {% for memberHash in site.data.team %}
    {% assign member = memberHash[1] %}
    <div class="team-item" itemscope itemtype="http://schema.org/Person">
        <div itemprop="memberOf" itemscope itemtype="https://schema.org/Organization">
            {% include microdata/organization.html %}
        </div>

        <img itemprop="image" class="team-image hidden-xs-down" src="{{ member.image | default: 'http://www.placekitten.com/300/300?image=1' }}" />

        <div class="team-body">
            <h5><span itemprop="name">{{ member.name }}</span> <small>(also known as <b itemprop="alternateName">{{ member.nickname }}</b>)</small></h5>

            <p>{{ member.role }}</p>

            <div class="team-links row">
                {% if member.github %}
                <span class="col-xl-6">GitHub: <a href="https://github.com/{{ member.github }}" target="_blank">{{ member.github }}</a></span>
                {% endif %}

                {% if member.website %}
                <span class="col-xl-6">Website: <a itemprop="url" href="{{ member.website }}" target="_blank">{{ member.website }}</a></span>
                {% endif %}

                {% if member.slack %}
                <span class="col-xl-6">Slack: <a itemprop="url" href="https://realismusmodding.slack.com/team/{{ member.slack }}" target="_blank">{{ member.slack }}</a></span>
                {% endif %}

                {% if member.twitter %}
                <span class="col-xl-6">Twitter: <a itemprop="url" href="https://www.twitter.com/{{ member.twitter }}" target="_blank">{{ member.twitter }}</a></span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div></div>
