---
layout: default
globalnav-size: large
---

<div class="row mt-5">
    <div class="col-md-9 col-sm-12 mx-auto">

        <h1 class="display-3">Mods with realism</h1>
        <p class="lead">Improved realism in Farming Simulator with mods such as Seasons</p>
        <p>Realismus Modding was formed in 2016 with a vision for increased realism in Farming Simulator</p>
        <p>We are just as passionate about virtual farming as we are about real farming, so we create mods which focus on making gameplay more realistic.</p>

        <div class="col-xl-6 col-md-9 col-xs-12 mx-auto my-3">
            <div class="card card-inverse mx-auto">
                <a href="/mods/seasons">
                    <img class="card-img img-fluid" src="/assets/img/mods/seasons/videoIcon.png" alt="Seasons icon to go to seasons information page" />

                    <div class="card-img-overlay d-flex">
                        <h4 class="card-title mt-auto mx-auto" style="color: #ddd">Click for more information</h4>
                    </div>
                </a>
            </div>
        </div>

        <p>Our team is always hard at work improving our mods and creating new ones, so follow us to hear about our latest projects. You can also join our Slack.</p>

        <p class="text-center">
            <a class="btn btn-outline-danger m-1" href="https://slack.realismusmodding.com" ga-on="click" ga-event-category="Outbound Link" ga-event-label="https://slack.realismusmodding.com" ga-transport="beacon">Join the conversation on Slack</a>
            <a  href="https://www.youtube.com/c/realismusmodding" class="btn btn-outline-warning m-1" target="_blank" ga-on="click" ga-event-category="Outbound Link" ga-event-label="https://www.youtube.com/c/realismusmodding" ga-transport="beacon">Subscribe on YouTube</a>
            <a  href="https://www.twitter.com/realismusMods" class="btn btn-outline-info m-1" target="_blank" ga-on="click" ga-event-category="Outbound Link" ga-event-label="https://www.twitter.com/realismusMods" ga-transport="beacon">Follow on Twitter</a>
        </p>

    </div>
</div>

<div class="row mt-5">
    <div class="col-md-7 col-sm-12 rm-col mx-auto news-list" style="border-top: 1px solid #d6d6d6">
        <header>
            <h2 class="text-center">Latest news</h2>
        </header>

        {% for post in site.posts limit:3 %}
        <article class="pb-3">
            <header>
                <h2 class="h4">{{ post.title }}</h2>
            </header>

            {% if post.header.image %}
            <img src="{{ post.header.image }}" class="card-img-top" style="max-width: 100%; max-height: 25rem" />
            {% endif %}

            <div>
                <header class="item-meta mb-1">
                    Posted in {{ post.category | capitalize }} •

                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        {{ post.date | date: date_format }}
                    </time>

                    {% if post.author %}
                      • <author itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="alternateName">{{ site.data.team[post.author].nickname }}</span><span class="d-none" itemprop="name">{{ site.data.team[post.author].name }}</span></author>
                    {% endif %}
                </header>

                {% if post.category contains "blog" %}
                {{ post.excerpt }}
                <a href="{{ post.url }}">Continue reading</a>
                {% else %}
                {{ post.content }}
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </div>
</div>
