---
layout: page
title:  Seasons Additional Mods
breadcrumb: Additional Mods
---

<h1>Additional mods for {{ site.data.mods[page.mod].title }}</h1>

<p>We made additional mods to extend the experience of the Seasons mod. There are two types of mods: geographical mods (GEO) and textures mods (STM).</p>
<p>Geographical mods change the weather, environment and possibly even the growth patterns of Seasons. They require a fresh
savegame. Texture mods extend the compatibility of a map for Seasons: it adds map specific textures. You can load them at anytime in your savegeme.</p>
<p>Note that you can only load a single (1) GEO mod, and that loading multiple STM will probably result in conflicts.</p>

{% if site.data.mods[page.mod].supplements == nil %}
<div class="card card-outline-info text-center">
    <div class="card-block">
        <p class="mb-0"><strong>Note: </strong>At this time, there don't seem to be any supplemental mods available. Check back later.</p>
    </div>
</div>
{% endif %}

<div class="row">
{% for mod in site.data.mods[page.mod].supplements %}
    <div class="col-xs-12 col-md-6 col-lg-4 d-flex mb-4 mx-auto">
        <div class="card">
            <img class="card-img-top img-fluid" src="{{ mod.list_icon }}" alt="{{ mod.title }} icon" />

            <div class="card-block">
                <h4 class="card-title">{{ mod.title }}</h4>
                <p class="card-text">{{ mod.description }}</p>

                {% if mod.modhub_id %}
                <a href="https://farming-simulator.com/mod.php?mod_id={{ mod.modhub_id }}" class="btn btn-outline-primary">Download</a>
                {% endif%}
            </div>
        </div>
    </div>
{% endfor %}

</div>
