<!-- Secondary menu -->
<nav class="localnav">
    <div class="container">
        <div class="row">
{% assign mod = site.data.mods[page.mod] %}
{% assign modUrl = '/mods/' | append: page.mod | append: '/' %}
{% assign manualUrl = modUrl | append: 'manual/' %}
            <div class="col-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item nav-link hidden-xs-down"><strong>{{ mod.title }}</strong>:</li>
                    <li class="nav-item "><a href="{{ modUrl }}" class="nav-link{% if modUrl == page.url %} active{% endif %}">Info</a></li>

                    {% if mod.modhub_id %}
                    <li class="nav-item"><a href="https://farming-simulator.com/mod.php?mod_id={{ mod.modhub_id }}" target="_blank" class="nav-link" ga-on="click" ga-event-category="Outbound Link" ga-event-label="https://farming-simulator.com/mods.php?mod_id={{ mod.modhub_id }}" ga-transport="beacon">Download</a></li>
                    {% endif %}

                    {% for item in mod.navitems %}
                    <li class="nav-item"><a href="{{ item.url }}" class="nav-link">{{ item.title }}</a></li>
                    {% endfor %}

                    <li class="nav-item"><a href="{{ manualUrl }}" class="nav-link{% if manualUrl == page.url %} active{% endif %}">Manual</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
