<div id="mc_embed_signup" class="hidden-print">
    <form action="https://realismusmodding.us17.list-manage.com/subscribe/post?u=64fb01215386c3228a441298f&amp;id=e765b15ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline justify-content-center" target="_blank" novalidate>
        <label for="mce-EMAIL" style="font-size:18pt">Subscribe to our mailing list for the latest updates</label>
        <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="email address" required="required" style="width:350px" />
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_64fb01215386c3228a441298f_e765b15ba4" tabindex="-1" value="" /></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ml-2 btn btn-primary submit" />
    </form>
</div>
