<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.4/cookieconsent.min.css" />
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.js"></script>

<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#424242"
    },
    "button": {
      "background": "#7B9CD4"
    }
  },
  "content": {
    "href": "{{ site.url }}/legal/privacy-policy"
  }
})});
</script>
