---
layout: default
localnav: true
---

<div class="row">
    <!-- Manual side navigation -->
    <div class="col-sm-3 col-xs-12 docnav pb-5 pt-5">
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Gameplay</a></li>
<!--                     <ul>
                <li><a href="#">Growth</a></li>
                <li><a href="#">Economy</a></li>
                <li><a href="#">Animals</a></li>
                <li><a href="#">Crops</a></li>
                <li><a href="#">Weather</a></li>
            </ul> -->
            <li><a href="#">Adjusting Seasons</a></li>
<!--                     <ul>
                <li><a href="#">Weather</a></li>
                <li><a href="#">Growth</a></li>
                <li><a href="#">Textures</a></li>
            </ul> -->
            <li><a href="#">Modding with Seasons</a></li>
            <ul>
                <li><a href="#">Map Compatibility</a></li>
                <li><a href="#" class="active">Admirers and Objects</a></li>
                <ul>
                    <li><a href="#">ssSeasonAdmirer</a></li>
                    <li><a href="#">ssSnowAdmirer</a></li>
                    <li><a href="#">ssIcePlane</a></li>
                    <li><a href="#">Supporting games without Seasons</a></li>
                </ul>
                <li><a href="#">Texture Mods</a></li>
                <li><a href="#">Geographical Mods</a></li>
            </ul>
        </ul>
    </div>

    <!-- Manual content -->
    <div class="col-sm-9 col-xs-12 rm-col">
        {{ content }}
    </div>
</div>
